body{
    margin: 0%;
    padding: 0%;
    background-color:$main-color;
    font-family: $font-family; 
    // font-size: 0.9rem;
}

.f-dir-column{
    flex-direction: column;
}

.d-flex{
    display: flex;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.m-10{
    margin: 10px;
}

.mt-10{
    margin-top: 10px;
}
.ml-40{
    margin-left: 40px;
}

.m-sides-10{
    margin: 0px 10px;
}

.a-items-center{
    align-items: center;
}
.jc-flex-end{
    justify-content: flex-end;
}
.jc-space-b{
    justify-content: space-between;
}

.b-radius-100{
    border-radius: 100%;
    
}
