body{
    margin: 0%;
    padding: 0%;
    background-color:$main-color;   
}


.d-flex{
    display: flex;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.a-items-center{
    align-items: center;
}
.jc-flex-end{
    justify-content: flex-end;
}

.b-radius-100{
    border-radius: 100%;
}