.l-aside{
    width: 20%;
    min-height: 800px;
    background-color: $main-color ;
    /*Se pone display none hasta que crezca a tablet se muestre, no antes*/
    display: none;
    .l-aside-prim{
        margin-top: 0px;
        width: 90%;
        min-height: 300px;
        background-color:$main-color ;
        margin-left: auto;
        margin-right: auto;
        ul{
            list-style: none;
            a{
            display: block;
            color: black;
            
            padding: 2px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto; 
            text-decoration: none;
            
            }
            
        }

    }
    .l-aside-sec{
        margin-top: 0px;
        width: 90%;
        min-height: 250px;
        background-color:$main-color ;
        margin-left: auto;
        margin-right: auto;
        ul{
            list-style: none;
            a{
            display: block;
            color: black;
            
            padding: 2px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto; 
            text-decoration: none; 
            }     
        }
        .mytags{
            background-color: $main-color ;
            margin-left: auto;
            margin-right: auto; 
        }
    }
    .l-aside-ter{
        border: 1px solid $main-color ;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        width: 98%;
        min-height: 400px; 
        cursor: pointer;
        .imgshop{
            width: 100%;
            padding-top: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 1rem;   
        }
        .imgshop-text{
            padding: 1rem;
        }    
    }
    

}

/*Tablet version*/


@media screen and (min-width: 768px){
    .l-aside{
        display: block;
    }
}

/*END Tablet version*/

    
