.l-aside{
    
    max-width: 50%;
    min-width: 18%;
    min-height: 800px;
    background-color:$main-color ;
    font-family: $font-family ;
    /*Se pone display none hasta que crezca a tablet se muestre, no antes*/
    display: none;
    margin: 1px;
    .l-aside-prim{
        margin-top: 0px;
        width: 99%;
        min-height: 300px;
        background-color:$main-color ;
        &:hover {  
            color: $highlight-color;      
        }
        
        
        ul{
            list-style: none;
            padding-inline-start: 8px;
            a{
            display: block;
            color: black; 
            padding: 2px;
            margin-bottom: 5px; 
            text-decoration: none;
            }
            &:hover {  
                color: $highlight-color;      
            }    
            
        }

    }
    .l-aside-sec{
        margin-top: 0px;
        width: 90%;
        min-height: 250px;
        background-color: $main-color ;
        margin-left: 10px;
        margin-right: auto;
        
        
        ul{
            list-style: none;
            padding-inline-start: 10px;
            
            a{
            display: block;
            color: black;
            margin-bottom: 5px;
            margin-left: 10px;
            margin-right: auto; 
            text-decoration: none; 
            }  
            &:hover { 
                a{
                    color: $highlight-color; 
                }          
            }   
        }
        .mytags{
            background-color: $main-color ;
            
            margin-right: auto; 
            margin-bottom: 0px;
            
        }
    }
    .l-aside-ter{
        border: 1px solid $main-color ;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        width: 98%;
        min-height: 400px; 
        cursor: pointer;
        .imgshop{
            width: 100%;
            padding-top: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 1rem; 
           
             
             
        }
        .imgshop-text{
            padding: 1rem;
        }    
    }

    

}

/* POSTINSIDE */
.l-aside-post{
    
    min-height: 800px;
    min-width: 15%;
    background-color: $main-color ;
    font-family: $font-family ;
    
    .l-aside-prim-post{
        width: 20px;
        height: 50%;
        margin-left: 50%;
        margin-right: auto;
        
        .heart{
           
            height: 50px;
            margin-left: 48%;
            margin-top: 70px;
            margin-bottom: 1px;
            
        }
        .icon{
            
            height: 50px;
            margin-left: 48%;
            margin-top: 30px;
            margin-bottom: 1px;
        }
        span{
            margin-left: 20%;   
        } 
        i{
            margin-left: 20%;

        }              
    }
   
}



/*Tablet version*/


@media screen and (min-width: 768px){
    .l-aside{
        display: block;
    }
}

/*END Tablet version*/

@media screen and (min-width: 1024px){
    .l-aside{
        margin-left: 5vw;
    }
}

/*END Desktop version*/

@media screen and (min-width: 1300px){
    .l-aside{
        margin-left: 12vw;
    }
}


