/*Card Principal*/

.main-card{
    background: white;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    .head-img{
        width: auto;
        background-image: url(https://picsum.photos/800/300);
        padding: 21%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .main-text{
        .card-comment{
            background-color: lightgray;
            width: 98%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.card{
    background-color: white;
    margin-top: 10px;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

