body {
  margin: 0%;
  padding: 0%;
  background-color: #F0F0F0;
}

.f-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.a-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jc-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.b-radius-100 {
  border-radius: 100%;
}

nav {
  height: 70px;
}

nav i {
  cursor: pointer;
}

nav img {
  cursor: pointer;
}

.l-aside {
  width: 20%;
  min-height: 800px;
  background-color: #F0F0F0;
  /*Se pone display none hasta que crezca a tablet se muestre, no antes*/
  display: none;
}

.l-aside .l-aside-prim {
  margin-top: 0px;
  width: 90%;
  min-height: 300px;
  background-color: #F0F0F0;
  margin-left: auto;
  margin-right: auto;
}

.l-aside .l-aside-prim ul {
  list-style: none;
}

.l-aside .l-aside-prim ul a {
  display: block;
  color: black;
  padding: 2px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.l-aside .l-aside-sec {
  margin-top: 0px;
  width: 90%;
  min-height: 250px;
  background-color: #F0F0F0;
  margin-left: auto;
  margin-right: auto;
}

.l-aside .l-aside-sec ul {
  list-style: none;
}

.l-aside .l-aside-sec ul a {
  display: block;
  color: black;
  padding: 2px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.l-aside .l-aside-sec .mytags {
  background-color: #F0F0F0;
  margin-left: auto;
  margin-right: auto;
}

.l-aside .l-aside-ter {
  border: 1px solid #F0F0F0;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
  min-height: 400px;
  cursor: pointer;
}

.l-aside .l-aside-ter .imgshop {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
}

.l-aside .l-aside-ter .imgshop-text {
  padding: 1rem;
}

/*Tablet version*/
@media screen and (min-width: 768px) {
  .l-aside {
    display: block;
  }
}

/*END Tablet version*/
/*Card Principal*/
.main-card {
  background: white;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

.main-card .head-img {
  width: auto;
  background-image: url(https://picsum.photos/800/300);
  padding: 21%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-card .main-text .card-comment {
  background-color: lightgray;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: white;
  margin-top: 10px;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}
/*# sourceMappingURL=style.css.map */